# Final code Super

In [ ]:
import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly_express as px
import tqdm
from tqdm._tqdm_notebook import tqdm_notebook

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.*` instead of `tqdm._tqdm_notebook.*`
  if __name__ == '__main__':

In [ ]:
df = pd.read_csv('geom1.csv')
df.head()

  Police Station  Year    Type  ...   Latitude  Longitude                 geom
0   Banashankari  2016  Murder  ...   12.93297  77.583810    12.93297,77.58381
1   Banashankari  2016  Murder  ...  12.930433  77.549761  12.930433,77.549761
2   Banashankari  2017  Murder  ...  12.923736  77.581820   12.923736,77.58182
3   Banashankari  2017  Murder  ...  12.924123  77.576913  12.924123,77.576913
4   Banashankari  2018  Murder  ...  12.924377  77.582729  12.924377,77.582729

[5 rows x 9 columns]

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="test_app")

In [ ]:
count=0

In [ ]:
result = []

for value in df["geom"]:
  try:
    location = geolocator.reverse(value)
    #if location.raw['address'] is None or location.raw['address']['suburb'] is None :
      #break
    #loc= location.raw['address']
    if location.raw.get('address') is None or location.raw['address'].get('suburb') is None :
      result.append(" ")
    else :
      loc= location.raw['address']['suburb']
      result.append(loc)

      count=count+1
  except :
    result.append(" ")
    print("error")

/usr/local/lib/python3.7/dist-packages/geopy/geocoders/base.py:256: UserWarning: Unable to parse the string as Point: "Failed to create Point instance from string: unknown format.". Using the value as-is for the query. In geopy 2.0 this will become an exception.
  'exception.' % str(e), UserWarning

error
error

In [ ]:
df["address"]=result

In [ ]:
df.to_csv("finalgeom.csv")